/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%; 
}

.cbp-fbscroller section#fbsection5.p110{
	height: 110% !important;
}

.cbp-fbscroller section#fbsection5.p120{
	height: 120% !important;
}

.cbp-fbscroller section#fbsection5.p130{
	height: 130% !important;
}

.cbp-fbscroller section#fbsection5.p140{
	height: 140% !important;
}

.cbp-fbscroller section#fbsection5.p150{
	height: 150% !important;
}

.cbp-fbscroller section#fbsection5.p170{
	height: 170% !important;
}

.cbp-fbscroller section#fbsection5.p180{
	height: 180% !important;
}

.cbp-fbscroller section#fbsection5.p190{
	height: 190% !important;
}

.cbp-fbscroller section#fbsection5.p200{
	height: 200% !important;
}

#layer {
	background: #A2A6A9 url(../images/background.jpg);
	background-repeat: repeat-y;
	color: #ddd;
	height: 100%;
	/*min-height: 2763px;*/
	position: absolute;
	width: inherit;
	z-index: -1;
}

@mixin horizontal-center() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin vertical-center() {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

body {
	background: #fff;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 auto;
	width: 997px;
}

#cbp-fbscroller {
	position: relative;
}

.cbp-fbscroller > nav {
	left: 0;
	margin: 0 auto;
	position: fixed;
	right: -900px;
	top: 50%;
	width: 0;
	z-index: 100;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > nav a img {
	display: none;
}

.cbp-fbscroller > nav a {
	background: rgba(255,255,255,0.6);
	-webkit-border-radius: 50%;
   -moz-border-radius: 50%;
	border-radius: 50%;
	color: transparent;
	display: block;
	font-size: 10px;
	height: 10px;
	margin: 15px 0;
	outline: none;
	position: relative;
	text-transform: uppercase;
	width: 10px;
	z-index: 100;
	@include horizontal-center();
	span {
		left: -100px;
	}
	&:hover {
		background: rgba(255,255,255,1);
		color: transparent;
		span {
			color: #eee !important;
			font-size: 10px;
			padding-left: 10px;
		}
	}
}

.cbp-fbscroller > nav {
	a.cbp-fbcurrent {
		background: rgba(255,255,255,1);
	}
	a:nth-child(1) span {
		margin-left: -98px;
	}
	a:nth-child(2) span {
		margin-left: -86px;
	}
	a:nth-child(3) span {
		/*margin-left: -105px;*/
		margin-left: -113px;
	}
	a:nth-child(4) span {
		margin-left: -83px;
	}
}

.cbp-fbscroller section {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.container {
	background-size: 100% auto;
	background-repeat: repeat;
	height: 100%;
	width: 997px;
	margin: 0 auto;
}

#fbsection1 {
	/*background-image: url(../images/phase1-12.png);*/
	/*background-image: url(../images/test1.png);*/
	/*background: #A2A6A9 url(../images/background.jpg);*/
	background-color: #A2A6A9;
	background-image: url(../images/test1.png);
}

#fbsection2 {
	/*background-image: url(../images/phase2-13.png);*/
	background-color: #A2A6A9;
	background-image: url(../images/test2.png);
}

#fbsection3 {
	/*background-image: url(../images/phase3-12.png);*/
	background-color: #A2A6A9;
	background-image: url(../images/test3.png);
}

#fbsection4 {
	/*background-image: url(../images/phase5-12.png);*/
	background-color: #A2A6A9;
	background-image: url(../images/test4.png);
}

#fbsection5.p110 {
	/*background-image: url(../images/phase6-12.png);*/
	background-color: #A2A6A9;
	background-image: url(../images/test5-110.png);
}
#fbsection5.p120 {
	/*background-image: url(../images/phase6-12.png);*/
	background-color: #A2A6A9;
	background-image: url(../images/test5-120.png);
}
#fbsection5.p130 {
	/*background-image: url(../images/phase6-12.png);*/
	background-color: #A2A6A9;
	background-image: url(../images/test5-130.png);
}
#fbsection5.p140 {
	/*background-image: url(../images/phase6-12.png);*/
	background-color: #A2A6A9;
	background-image: url(../images/test5-140.png);
}
#fbsection5.p150 {
	/*background-image: url(../images/phase6-12.png);*/
	background-color: #A2A6A9;
	background-image: url(../images/test5-150.png);
}
#fbsection5.p170 {
	/*background-image: url(../images/phase6-12.png);*/
	background-color: #A2A6A9;
	background-image: url(../images/test5-170.png);
}
#fbsection5.p180 {
	/*background-image: url(../images/phase6-12.png);*/
	background-color: #A2A6A9;
	background-image: url(../images/test5-180.png);
}
#fbsection5.p190 {
	/*background-image: url(../images/phase6-12.png);*/
	background-color: #A2A6A9;
	background-image: url(../images/test5-190.png);
}
#fbsection5.p200 {
	/*background-image: url(../images/phase6-12.png);*/
	background-color: #A2A6A9;
	background-image: url(../images/test5-200.png);
}

/* 1/10 */
#fbsection6.oneandten {
	background-color: #A2A6A9;
	background-image: url(../images/oneandten.png);
	height: 10%;
}

/* 1/4 */
#fbsection6.oneandfour {
	background-color: #A2A6A9;
	background-image: url(../images/oneandfour.png);
	height: 25%;
}

/* 2/5 */
#fbsection6.twoandfive {
	background-color: #A2A6A9;
	background-image: url(../images/twoandfive.png);
	height: 40%;
}

/* 1/2 */
#fbsection6.half {
	background-color: #A2A6A9;
	background-image: url(../images/half.png);
	height: 50%;
}

/* 3/4 */
#fbsection6.threeandfour {
	background-color: #A2A6A9;
	background-image: url(../images/threeandfour.png);
	height: 75%;
}

/* 1 */
#fbsection6 {
	background-color: #A2A6A9;
	background-image: url(../images/test5.png);
	height: 100%;
}

.content-layer {
	color: #fff;
	h1 {
		font-size: 6.2em;
		line-height: 85%;
	}
	p {
		line-height: 160%;
	}
}

#fbsection1 .content-layer {
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 80%;
	h1 {
		position: absolute;
		top: 10%;
	}
	p {
		border-top: 1px solid #fff;
		bottom: 26%;
		left: 0;
		margin: 0 auto;
		padding-top: 15px;
		position: absolute;
		right: 0;
		text-align: left;
		width: 88%;
	}
}

#fbsection2 .content-layer {
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 80%;
	h1 {
		font-size: 5.9em;
		position: absolute;
		top: 16%;
		z-index: 0;
		span {
			display: block;
		}
	}
	p {
		border-top: 1px solid #fff;
		bottom: 25%;
		left: 0;
		margin: 0 auto;
		padding-top: 15px;
		position: absolute;
		right: 0;
		text-align: left;
		width: 70%;
	}
}

#fbsection3 .content-layer {
	color: #fff;
	height: 100%;
	left: 50px;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 6%;
	width: 50%;
	h1 {
		font-size: 5.1em;
		height: 207px;
		margin: 75px 0 0;
		position: relative;
		span.left {
			float: left;
			margin-right: 30px;
		}
		span.middle {
			float: left;
			margin-left: 80px;
		}
		span.right {
			float: left;
			margin-left: 0px;
		}
	}
	p#parag1 {
		border-top: 1px solid #fff;
		left: 0;
		margin-bottom: 0;
		padding-top: 15px;
		position: relative;
		text-align: left;
		width: 82%;
	}
	p#parag2 {
		border-top: none;
		left: 0;
		margin: 0;
		padding-top: 0;
		position: relative;
		text-align: left;
		width: 70%;
	}
}

#fbsection4 .content-layer {
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 10%;
	width: 100%;
	h1 {
		font-size: 5.8em;
		height: 170px;
		position: relative;
		width: 60%;
		margin: 50px auto 0;
	}
	p {
		border-top: 1px solid #fff;
		left: 0;
		margin-top: 0;
		margin: 0 auto;
		padding-top: 15px;
		position: relative;
		right: 0;
		text-align: left;
		width: 60%;
	}
	h2 {
		font-weight: 500;
		height: 50px;
		left: 0;
		margin: 0 auto;
		position: relative;
		right: 0;
		top: 40px;
		width: 40%;
		@include vertical-center();
		span.middle {
			font-size: 0.8em;
			left: 0;
			line-height: 100%;
			margin: 0 auto;
			padding-top: 5px;
			position: absolute;
			right: 0;
			width: 60%;
			@include vertical-center();
		}
		span.left {
			float: left;
			left: 90px;
			padding-left: 10px;
			position: absolute;
		}
		span.right {
			float: right;
			margin-top: -10px;
			padding-left: 30px;
			position: absolute;
			width: 40%;
		}
	}
	/* flash */
	#bg_left,
	#bg_right{
		background: url(../images/bg_flash2.png) no-repeat top center;
		background-position-y: -5px;
		display: block;
		position: absolute;
		top: 50%;
		z-index: 0;
		width: 585px;
		height: 200px;
	}
	#bg_left {
		left: 0;
	}
	#bg_right {
		right: 0;
	}
	#flashContent_left,
	#flashContent_right {
		display: block;
		position: absolute;
		right: -10px;
		top: 50%;
		width: 50%;
		z-index: 0;
	}
	#flashContent_left {
		left: -10px;
	}
	#flashContent_right {
		right: -10px;
	}
}

#fbsection5 .content-layer {
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	h1 {
		font-size: 4.2em;
		line-height: 100%;
		margin-bottom: 0;
		margin-top: 100px;
		position: relative;
	}
	p {
		border-top: 1px solid #fff;
		left: 0;
		margin: 15px auto 0;
		padding-top: 15px;
		position: relative;
		right: 0;
		text-align: left;
		width: 80%;
	}
}

#fbsection6 .content-layer {
	height: 50%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	h1 {
		font-size: 5.6em;
		margin-bottom: 0;
		position: relative;
	}
	p {
		border-top: 1px solid #fff;
		margin: 20px auto 0;
		padding-top: 15px;
		position: relative;
		text-align: left;
		width: 80%;
		left: 0;
		right: 0;
	}
}

#fbsection5 ul {
	left: 25px;
	list-style: none;
	position: absolute;
	right: 0;
	top: 425px;
	z-index: 99;
	a {
		border-radius: 150px;
		color: #fff;
		display: block;
		height: 120px;
		position: absolute;
	  text-decoration: none;
	  width: 120px;
	  img.buttons {
			left: -20px;
			position: absolute;
			top: -20px;
			width: 160px;
	  }
	  img.tabs {
		width: 450px;
			position: absolute;
	  }
	  li {
		  display: none;
		  position: absolute;
		  left: 320px;
			right: 0;
			top: 150px;
	  }
  }
	a:hover img.buttons {
		width: 190px;
		margin-left: -15px;
		margin-top: -15px;
		z-index: 10001;
	}
	a:hover li {
		display: block;
	}
}

#fbsection5 ul {
	/* button position only */
	a:nth-child(odd) {
		top: 0px;
		li {
			position: absolute;
			z-index: 10000;
			left: 375px;
			right: 0;
			top: 230px;
		}
	}
	a:nth-child(even) {
		top: 80px;
		li {
			left: 0;
			margin-top: -80px;
			margin-left: -80px;
			position: absolute;
			right: 0;
			z-index: 10000;
			width: 750px;
			float: right;
			top: 230px;
		}
	}
	a:nth-child(1) {
		left: 50px;
		li {
			display: block !important;
		}
	}
	a:nth-child(2) {
		left: 130px;
	}
	a:nth-child(3) {
		left: 210px;
		li {
			margin-left: -160px;
		}
	}
	a:nth-child(4) {
		left: 290px;
		li {
			margin-left: -240px;
		}
	}
	a:nth-child(5) {
		left: 370px;
		li {
			margin-left: -385px;
		}
	}
	a:nth-child(6) {
		left: 450px;
		li {
			margin-left: -400px;
		}
	}
	a:nth-child(7) {
		left: 530px;
		li {
			margin-left: -706px;
		}
	}
	a:nth-child(8) {
		left: 610px;
		li {
			margin-left: -560px;
		}
	}
	a:nth-child(9) {
		left: 690px;
		li {
			margin-left: -1025px;
		}
	}
	a:nth-child(10) {
		left: 770px;
		li {
			margin-left: -720px;
		}
	}
}

.oil {
	left: 64px;
	position: absolute;
	top: 720px;
	z-index: 10000000;
	width: 450px;
}

#video-wrapper {
	@include horizontal-center();
	@include vertical-center();
	position: relative;
	top: 30%;
	width: 100%;
	height: 45%;	
	margin: 0 auto;
	z-index: 9999999 !important;
	border-radius: 300px;
	#popup-video {
	  display: none;
	}
	#popup-video.open {	
	  display: block;
	  height: 100%;
	  position: relative;
	  width: 100%;
	}
/*	video {
	  margin: 0 auto;
	}*/
}

#openVideoBtn {
	border: 1px solid red;
	border-radius: 300px;
	display: block;
	height: 100%;
	left: 200px;
	position: absolute;
	width: 50%;
}

#closeVideoBtn {
	border: 1px solid green;
	height: 100%;
	position: relative;
	width: 100%;
}

@-moz-document url-prefix() { 
  #fbsection4 .content-layer #bg_left,
	#fbsection4 .content-layer #bg_right{
		margin-top: -5px;
	}
}

header {
	height: 133px;
	margin: 0px auto;
	padding: 0;
	width: 997px;
}

footer {
	bottom: 0;
	height: 100px;
	left: 0;
	margin: 0px auto;
	padding: 0;
	position: relative;
	right: 0;
	width: 997px;
}

#footer { 
	width:997px; 
	clear:both; 
	/*padding:15px 0px 20px 0px; */
	text-align:center; 
	font-family: Arial,Helvetica,Sans-Serif; 
	font-size: 11px; 
	line-height: 2em; 
	color:#FFFFFF; 
	border-top:1px solid #FFFFFF; 
	font-weight:bold;
	/* @aimee : only for motor site */
	background: #A2A6A9;
	margin: 0 !important;
	padding:15px 0px 0px 0px !important;
}
#footer .info { display:inline;}
#footer .info a:visited, #footer .info a:link { color:#FFFFFF; text-decoration: none;}
#footer .info a:active, #footer .info a:hover { color:#FFFFFF; text-decoration: underline;}
#footer .fm { margin-top:22px;}

/* For video player and button setting */
a {
  color:#1185ff;
}

/* Specific CSS code for the magnifying glass icon */
a.zoomable {
	border-radius: 300px;
	display: block;
	height: inherit;
	padding: 100px;
	position: relative;
	width: inherit;
	span.playbtn {
	  display:block;
	  height:100%;
	  left:0;
	  opacity:0.8;
	  position:absolute;
	  top:0;  
	  width:100%;
	  -o-transition:opacity 0.25s;
	  -moz-transition:opacity 0.25s;
	  -webkit-transition:opacity 0.25s;
	  transition:opacity 0.25s;
	}
	&:hover span.zoom_icon {
		opacity:1
	}
}

/* ONLY FOR IE8 */
.lt-ie9 .cbp-fbscroller > nav {
	right: -930px;
	a,
	a:hover,
	a.cbp-fbcurrent {
		background: transparent !important;
		background-color: none;
	}
	a span {
		display: none;
	}
	a:hover span {
		display: inline-block !important;
	}
	a img {
		display: inline-block;
		left: 0;
		top: 0;
	}
}

.lt-ie9 .cbp-fbscroller > nav {
	a.cbp-fbcurrent {
		background: rgba(255,255,255,1);
	}
	a#nav1 span {
		margin-left: -103px;
		text-align: right;
	}
	a#nav2 span {
		margin-left: -91px;
		text-align: right;
	}
	a#nav3 span {
		margin-left: -110px;
		text-align: right;
	}
	a#nav4 span {
		margin-left: -118px;
		text-align: right;
	}
	a#nav5 span {
		margin-left: -88px;
		text-align: right;
	}
}

.lt-ie9 #layer {
	position: absolute;
	height: 0;
	background: none;
	display: none;
	width: 0;
	z-index: -1;
}

.lt-ie9 {
	.container {
		background-size: 100% auto;
		background-repeat: repeat;
		height: 3813px;
		width: 997px;
		margin: 0 auto;
	}
	#fbsection1 {
		background-image: url(../images/ie-phase1.jpg);
		height: 848px;
		margin: 0 auto;
	}
	#fbsection2 {
		background-image: url(../images/ie-phase2.jpg);
		height: 848px;
		margin: 0 auto;
	}
	#fbsection3 {
		background-image: url(../images/ie-phase3.jpg);
		height: 848px;
		margin: 0 auto;
	}
	#fbsection4 {
		background-image: url(../images/ie-phase5.jpg);
		height: 848px;
		margin: 0 auto;
	}
	#fbsection5 {
		background-image: url(../images/ie-phase6.jpg);
		height: 1153px;
		margin: 0 auto;
	}
	#fbsection6 {
		display: none !important;
	}
	#fbsection1 .content-layer p,
	#fbsection2 .content-layer p,
	#fbsection3 .content-layer p#parag1,
	#fbsection4 .content-layer p,
	#fbsection5 .content-layer p {
		padding-top: 10px;
	}
	#fbsection3 .content-layer {
		h1 {
			margin: 105px 0 0;
		}
		p#parag1 {
			width: 80%;
		}
	}
	#fbsection4 .content-layer {
		width: 70%;
		h1 {
			margin: 0 auto;
			margin-top: 40px;
			width: 80%;
		}
		h2 {
		  position: absolute;
		  top: 380px;
		  width: 60%;
			span.right {
				float: right;
				margin-top: -10px;
				padding-left: 250px;
				position: absolute;
				width: 40%;
			}
		}
		p {
			margin: 0 auto;
		}
		#flashContent_left {
			display: block;
			left: -130px;
			position: absolute;
			right: 0;
			top: 481px;
			width: 50%;
			z-index: 0;
		}
		#flashContent_right {
			display: block;
			position: absolute;
			right: -70px;
			top: 481px;
			width: 50%;
			z-index: 0;
		}
	}
	#fbsection5 ul {
		left: 25px;
		list-style: none;
		position: absolute;
		right: 0;
		top: 425px;
		z-index: 10000000;
		a {
			border-radius: 150px;
			color: #fff;
			display: block;
			height: 120px;
			position: relative;
		  text-decoration: none;
		  width: 120px;
		  img.buttons {
				left: -20px;
				position: absolute;
				top: -20px;
				width: 160px;
		  }
		  img.tabs {
			width: 450px;
				position: absolute;
		  }
		  li {
				display: none;
		  	position: absolute;
		  	left: 320px;
				top: 150px;
		  }
	  }
		a:hover img.buttons {
			width: 190px;
			margin-left: -15px;
			margin-top: -15px;
			z-index: 10001;
		}
		a:hover li {
			display: block;
		}
	}	
	#fbsection5 ul {
		height: 100px;
		z-index: 99 !important;
  	a#tab1 {
  		left: 50px;
  		top: 0px;
  		li {
  			display: block !important;
  			top: 230px;
  			left: 330px;
  		}
  	}
  	a#tab2 {
  		left: 130px;
  		top: -40px;
  		li {
  			top: 150px;
  			left: 250px;
  		}
  	}
  	a#tab3 {
  		left: 210px;
  		top: -240px;
  		li {
  			margin-left: -160px;
  			top: 230px;
  			left: 330px;
  		}
  	}
  	a#tab4 {
  		left: 290px;
  		top: -280px;
  		li {
  			margin-left: -240px;
  			top: 150px;
  			left: 330px;
  		}
  	}
  	a#tab5 {
  		left: 370px;
  		top: -480px;
  		li {
  			margin-left: -385px;
  			top: 230px;
  			left: 395px;
  		}
  	}
  	a#tab6 {
  		left: 450px;
  		top: -520px;
  		li {
  			margin-left: -400px;
  			top: 150px;
  			left: 330px;
  		}
  	}
  	a#tab7 {
  		left: 530px;
  		top: -720px;
  		li {
  			margin-left: -706px;
  			top: 230px;
  			left: 556px;
  		}
  	}
  	a#tab8 {
  		left: 610px;
  		top: -760px;
  		li {	
  			margin-left: -560px;
  			top: 150px;
  			left: 330px;
  		}
  	}
  	a#tab9 {
  		left: 690px;
  		top: -960px;
  		li {
  			margin-left: -720px;
  			top: 230px;
  			left: 410px;
  		}
  	}
  	a#tab10 {
  		left: 770px;
  		top: -1000px;
  		li {
  			margin-left: -720px;
  			top: 150px;
  			left: 330px;
  		}
  	}
  }
	a.zoomable {
		display: block;
		height: 360px;
		padding: 0;
		position: relative;
		text-align: center; 
		width: 100%;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
	}
}